{% extends 'base.html.twig' %}

{% block title %}Hello ComparisonController!{% endblock %}

{% block body %}
    <h1>Comparator</h1>
    {% if ids|length > 0 %}
        <p>You're going to compare the following players :</p>
        {% for id in ids %}
            <div class="row p-2">
                <div class="col">
                    ID : {{ id }}
                </div>
                <div class="col">
                    <a class="btn btn-danger" href="{{ path('app_comparison_remove', {'id': id}) }}">Remove player from comparison</a>
                </div>
            </div>
        {% endfor %}
        {% if ids|length > 1 %}
            <a class="btn btn-primary" href="{{ path('app_comparison_create') }}">Start comparing</a>
        {% endif %}
    {% else %}
        <p>You have no players to compare for the moment !</p>
    {% endif %}
{% endblock %}
