{% extends 'base.html.twig' %}

{% block title %}Result{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="lead">Your comparison 📊</h1>
		<table id="example" class="display table table-hover" style="width:100%">
		</table>
	</div>
	<script>
        var data = {{ (averages.data|json_encode|raw) }};
	</script>
	{{ encore_entry_script_tags('comparisonViewer') }}
{% endblock %}
