{% extends 'base.html.twig' %}

{% block title %}Result{% endblock %}

{% block body %}
	<h1>Your comparison</h1>
	<table id="example" class="display table table-hover" style="width:100%">
	</table>

	<script>
        var data = {{ (averages.data|json_encode|raw) }};
	</script>
	<script src="{{ asset('comparisonViewer.js') }}"></script>
{% endblock %}
