{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
	<section class="text-center">
		<h1 class="fw-light">Welcome to my Symfony exercise !</h1>
		<p class="lead text-muted">Example of the use of the Balldontlie.io API.</p>
	</section>
{% endblock %}
