{% extends 'base.html.twig' %}

{% block title %}Hello HistoryController!{% endblock %}

{% block body %}
    {% for comparison in history %}
    <div class="row p-2">
        <div class="col">
            Number - {{ comparison.id }}
        </div>
        <div class="col">
            Date - {{ comparison.date|date }}
        </div>
        <div class="col">
            <a class="btn btn-primary" href="{{ path('app_result_comparison', {'id':comparison.id}) }}">See comparison</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
