{% extends 'base.html.twig' %}

{% block title %}Hello HistoryController!{% endblock %}

{% block body %}
    {% if history|length > 0 %}
        <h1>Here's your history</h1>
    {% for comparison in history %}
    <div class="row p-2">
        <div class="col">
            Number - {{ comparison.id }}
        </div>
        <div class="col">
            Date - {{ comparison.date|date }}
        </div>
        <div class="col">
            <a class="btn btn-primary" href="{{ path('app_result_comparison', {'id':comparison.id}) }}">See comparison</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <h1>You've never compared players !</h1>
    {% endif %}
{% endblock %}
